<div class="footer_wrap">   
    <div class="footer">
        <div class="footer-item">
            <h1>timblin.co</h1>
            <ul>
                <a href="#top">
                    <li>Hello</li>
                </a>
                <li>Skills</li>
                <li>My Works</li>
                <li>A Bit About Me</li>
                <li>My Designs</li>
                <li>Get In Touch</li>
            </ul>
        </div>
        <div class="footer-item">
            <h1>Connect</h1>
            <ul>
                <a href="https://twitter.com/TristanTimblin">
                    <li id="twitter">
                        <object type="image/svg+xml" data="twitter-logo-silhouette.svg" class="logo">
                            {% include /img/soc/twitter-logo-silhouette.svg %}
                        </object>
                        Twitter
                    </li>
                </a>
                <a href="https://dribbble.com/Timblin">
                    <li id="dribbble">
                        {% include /img/soc/dribbble-logo.svg %}
                        Dribbble
                    </li>
                </a>
                <a href="https://www.behance.net/timblin">
                    <li id="behance">
                        {% include /img/soc/behance.svg %}
                        Behance
                    </li>
                </a>
                <a href="https://www.linkedin.com/in/tristan-timblin-b3b8ba8b">
                    <li id="linkedin">
                        {% include /img/soc/logo-linkedin.svg %}
                        Linkedin
                    </li>
                </a>
                <a href="https://www.linkedin.com/in/tristan-timblin">
                    <li id="email">
                        {% include /img/soc/mail.svg %}
                        Email
                    </li>
                </a>
            </ul>
        </div>
        <div class="footer-item">
            <h1>Projects</h1>
            <ul>
                <li>Navigation to my various live projects. There is nothing here right now, check back later.</li>
            </ul>
        </div>
    </div>
    <div class="copyright">
    <p>Site Created By Tristan Timblin in 2016.</p>
    </div>
</div>