<div class="heading-grid">
   <div class="heading-content_wrap">
    <div class="heading-content heading-content_img">
        
    </div>
    <div class="heading-content heading-content_desc">
        <h1>Tristan Timblin</h1>
        <!--<div class="gradient"></div>-->
        <p>I Get People To Click This Button.</p>
        
        <div class="heading-content-social">
            <div class="social">
                CONNECT
            </div>
            <div>
                <img src="../img/arrow.png">
            </div>
        </div>
    </div>
</div>
</div>
<div class="gradient"></div>